<h1>{{ bookmarksListController.getCurrentCategoryName() }}</h1>

<div class="segnalibr" ng-repeat="bookmark in bookmarksListController.bookmarks | filter: { category: bookmarksListController.getCurrentCategorySlug() }">
  <button type="button" class="close text-perfect segnalibr-close" ng-click="bookmarksListController.resetSelectedBookmark(); bookmarksListController.deleteBookmark(bookmark)">&times;</button>
  <button type="button" class="btn btn-outline-secondary" ng-click="bookmarksListController.selectBookmark(bookmark)" ng-disabled="bookmarksListController.isCurrentBookmark(bookmark)">
    mod
  </button>
  <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
</div>

<hr/>

<div ng-if="bookmarksListController.getCurrentCategorySlug()">
  <button type="button" class="btn btn-lg btn-primary" ng-if="!bookmarksListController.currentBookmark.category" ng-click="bookmarksListController.selectBookmark()">
    Crea Nuovo Segnalibr
  </button>
</div>

<bookmark-save
  ng-if="bookmarksListController.currentBookmark.category"
  bookmark="bookmarksListController.currentBookmark"

  save="bookmarksListController.onSave(bookmark)"
  cancel="bookmarksListController.resetSelectedBookmark()"
></bookmark-save>

<!-- <ui-view>
  <div ng-if="bookmarksListController.getCurrentCategorySlug()">
    <button class="btn btn-lg btn-primary" ui-sref="segnalibr.categories.bookmarks.create">Crea un Segnalibr!</button>
  </div>
</ui-view> -->
