<h4>Editing: {{ bookmarksEditController.currentBookmark.title }}</h4>
<h5>ULR: {{ bookmarksEditController.currentBookmark.url }}</h5>

<form class="create-form" role="form" ng-submit="bookmarksEditController.editBookmark(bookmarksEditController.editedBookmark)" novalidate>
  <div class="form-group">
    <label for="bookmarkTitle">Titolo</label>
    <input type="text" class="form-control" id="bookmarkTitle" ng-model="bookmarksEditController.editedBookmark.title" placeholder="Titolo del Segnalibr">
  </div>
  <div class="form-group">
    <label for="bookmarkUrl">URL</label>
    <input type="text" class="form-control" id="bookmarkUrl" ng-model="bookmarksEditController.editedBookmark.url" placeholder="URL">
  </div>
  <button type="submit" class="btn btn-info">Modifica</button>
  <button type="button" class="btn btn-warning" ng-click="bookmarksEditController.cancelEdit()">Annulla…</button>
</form>
