<h1>{{ bookmarksListController.currentCategorySlug }}</h1>

<div class="segnalibr" ng-repeat="bookmark in bookmarksListController.bookmarks | filter: ( bookmarksListController.currentCategorySlug ? { category: bookmarksListController.currentCategorySlug } : '' )"
  ng-class="{ active: isEditedBookmark(bookmark) }">
  <button type="button" class="close text-perfect segnalibr-close" ng-click="deleteBookmark(bookmark)">&times;</button>
  <button type="button" class="btn btn-outline-secondary" ng-click="doEdit(bookmark)" ng-disabled="isEditedBookmark(bookmark)">
    mod
  </button>
  <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
</div>

<hr/>

<div ng-if="canCreate() && !isCreating()">
  <button class="btn btn-lg btn-primary" ng-click="doCreate()">Crea un Segnalibr!</button>
</div>
<div ng-if="isCreating()">
  <form class="create-form" role="form" ng-submit="createBookmark(newBookmarkCreation)">
    <div class="form-group">
      <label for="bookmarkTitle">Titolo</label>
      <input type="text" class="form-control" id="bookmarkTitle" ng-model="newBookmarkCreation.title"
        placeholder="Titolo del Segnalibr">
    </div>
    <div class="form-group">
      <label for="bookmarkUrl">URL</label>
      <input type="text" class="form-control" id="bookmarkUrl" ng-model="newBookmarkCreation.url" placeholder="URL">
    </div>
    <button type="submit" class="btn btn-info">Crea</button>
    <button class="btn btn-warning" ng-click="cancelForm()">Annulla…</button>
  </form>
</div>
<div ng-if="isEditing()">
  <h4>Editing: {{ currentBookmark.title }}</h4>
  <h5>ULR: {{ currentBookmark.url }}</h5>

  <form class="create-form" role="form" ng-submit="editBookmark(editedBookmark)" novalidate>
    <div class="form-group">
      <label for="bookmarkTitle">Titolo</label>
      <input type="text" class="form-control" id="bookmarkTitle" ng-model="editedBookmark.title" placeholder="Titolo del Segnalibr">
    </div>
    <div class="form-group">
      <label for="bookmarkUrl">URL</label>
      <input type="text" class="form-control" id="bookmarkUrl" ng-model="editedBookmark.url" placeholder="URL">
    </div>
    <button type="submit" class="btn btn-info">Modifica</button>
    <button class="btn btn-warning" ng-click="cancelForm()">Annulla…</button>
  </form>
</div>
